---
layout: default
title: Category
---

{% comment %}
=======================
Based on:
https://codinfox.github.io/dev/2015/03/06/use-tags-and-categories-in-your-jekyll-based-github-pages/
=======================
The following part extracts all the categories from your posts and sorts the categories, so that you do not need to manually collect your categories.
=======================
{% endcomment%}

{% assign rawcats = "" %}
{% for post in site.posts %}
  {% assign tcats = post.categories | join:'|' | append:'|' %}
  {% assign rawcats = rawcats | append:tcats %}
{% endfor %}
{% assign rawcats = rawcats | split:'|' | sort %}

{% comment %}
=======================
The following part removes duplicated categories and invalid categories like a blank category.
=======================
{% endcomment %}

{% assign cats = "" %}
{% for cat in rawcats %}
  {% if cat != "" %}
    {% if cats == "" %}
      {% assign cats = cat | split:'|' %}
    {% endif %}
    {% unless cats contains cat %}
      {% assign cats = cats | join:'|' | append:'|' | append:cat | split:'|' %}
    {% endunless %}
  {% endif %}
{% endfor %}

<h1 class="page-title">
  <a href="{{ site.baseurl }}/blog">Blog</a> | {{ page.title }}
</h1>
<br/>

<div class="posts">
  <p>
{% comment %}
=======================
The purpose of this snippet is to list all the categories you have in your site.
=======================
{% endcomment %}

{% for ct in cats %}
    <a href="#{{ ct | slugify }}" class="category">{{ ct }}</a>
{% endfor %}
    <a href="#no-category" class="category">No Category</a>
  </p>

{% for ct in cats %}
  <h2 id="{{ ct | slugify }}">{{ ct }}</h2>
  <ul class="category-list">
  {% for post in site.posts %}
    {% if post.categories contains ct %}
    <li>
      <h3>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          <small>[{{ post.date | date_to_string }}]</small>
        </a>
      </h3>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
{% endfor %}

  <h2 id="no-category">No Category</h2>
  <ul class="category-list">
{% for post in site.posts %}
  {% unless post.categories %}
    <li>
      <h3>
        <a href="{{ post.url }}">
          {{ post.title }}
          <small>[{{ post.date | date_to_string }}]</small>
        </a>
      </h3>
    </li>
  {% endunless %}
{% endfor %}
  </ul>
</div>
