---
layout: default
title: Blog
---

{% comment %}
=======================
Based on:
https://jekyllrb.com/docs/pagination/
Based on repo linked to by:
https://codinfox.github.io/dev/2015/03/06/use-tags-and-categories-in-your-jekyll-based-github-pages/
=======================
{% endcomment %}

<!--
  <meta http-equiv="Refresh" content="0; url={{ site.baseurl }}/">
-->
<h1 class="page-title" style="display:inline-block;"> {{ page.title }} </h1>

<div style="display:inline-block;margin-left:.5em;">
  Browse by <a href="{{ site.baseurl }}/blog/category/">Category</a>
  or <a href="{{ site.baseurl }}/blog/tag/">Tag</a>
</div>

<br/><br/>

<div class="posts">
{% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}/{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">
      {{ post.date | date_to_string }}
  {% if post.tags != empty %}
      |
      <font size="3"><tt>
    {% for tag in post.tags %}
        <a class="tag" href="{{ site.baseurl }}/blog/tag/#{{ tag | slugify }}">{{ tag }}</a>
    {% endfor %}
      </tt></font>
  {% endif %}
    </span>

    {{ post.content | split: "<!-- more -->" | first }}

    <!--
    <div class="post-comment">
      <a href="{{ site.baseurl }}/{{ post.url }}#disqus_thread">Comment</a>&nbsp;
    </div>
    -->
    <div class="post-more">
      <a href="{{ site.baseurl }}/{{ post.url }}">Read more</a>
    </div>
    <hr/>

  </div>
{% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | relative_url }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}

<div class="pagination">
{% if paginator.previous_page %}
  {% if paginator.page == 2 %}
  <a class="pagination-item newer" href="{{ site.baseurl }}/blog">Newer</a>
  {% else %}
  <a class="pagination-item newer" href="{{ site.baseurl }}/blog/page{{paginator.previous_page}}">Newer</a>
  {% endif %}
{% else %}
  <span class="pagination-item newer">Newer</span>
{% endif %}
{% if paginator.next_page %}
<a class="pagination-item older" href="{{ site.baseurl }}/blog/page{{paginator.next_page}}">Older</a>
{% else %}
  <span class="pagination-item older">Older</span>
{% endif %}
</div>
