---
layout: default
title: Tag
---

{% comment %}
=======================
Based on:
https://codinfox.github.io/dev/2015/03/06/use-tags-and-categories-in-your-jekyll-based-github-pages/
=======================
The following part extracts all the tags from your posts and sorts the tags, so that you do not need to manually collect your tags.
=======================
{% endcomment %}

{% assign rawtags = "" %}
{% for post in site.posts %}
  {% assign ttags = post.tags | join:'|' | append:'|' %}
	{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% comment %}
=======================
The following part removes duplicated tags and invalid tags like a blank tag.
=======================
{% endcomment %}

{% assign tags = "" %}
{% for tag in rawtags %}
  {% if tag != "" %}
    {% if tags == "" %}
      {% assign tags = tag | split:'|' %}
		{% endif %}
		{% unless tags contains tag %}
			{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}

<h1 class="page-title">
  <a href="{{ site.baseurl }}/blog">Blog</a> | {{ page.title }}
</h1>
<br/>

<div class="posts">
  <p>
{% comment %}
=======================
The purpose of this snippet is to list all the tags you have in your site.
=======================
{% endcomment %}

{% for tag in tags %}
    <a href="#{{ tag | slugify }}" class="tag">{{ tag }}</a>
{% endfor %}
  </p>

{% comment %}
=======================
The purpose of this snippet is to list all your posts posted with a certain tag.
=======================
{% endcomment %}

{% for tag in tags %}
  <h2 id="{{ tag | slugify }}">{{ tag }}</h2>
  <ul>
  {% for post in site.posts %}
    {% if post.tags contains tag %}
    <li>
      <h3>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          <small>[{{ post.date | date_to_string }}]</small>
        </a>
      </h3>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
{% endfor %}
</div>
