.category {
  display: inline-block;
  padding: 0 .5rem;
  margin-right: .5rem;
  border-radius: 4px;
  font-family: "PT Sans",Helvetica,Arial,sans-serif;
  font-size: 90%;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.category:before {
  content: "\f02b";
  font-family: FontAwesome;
  padding-right: .5em;
}

.category-list {
  list-style-type: circle;
  //list-style-position: inside; // causes circle to appear on a line by itself
  padding: 0;
}

.page-title {
  margin-top: 0;
  text-transform: uppercase;
}

.pagination {
  overflow: hidden;
  margin-left: -1rem;
  margin-right: -1rem;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  text-align: center;
}

.pagination .newer {
  color: gray;
}

.pagination .older {
  color: gray;
}

.pagination-item {
  display: inline-block;
  padding: 1rem;
}

.post {
  margin-bottom: 4em;
}

.post .post-date {
  display: inline-block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
}

.post-comment {
  margin-top: .5em;
  text-align: right;
}

.post-comment:before {
  content: "\f086";
  font-family: FontAwesome;
}

.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
}

.post-more {
  margin-top: .5em;
  text-align: right;
}

.post-more:before {
  content: "\f055";
  font-family: FontAwesome;
}

.post-title {
  // defined by minima theme
}

.posts {
  // not currently used
}

.tag {
  display: inline-block;
  padding: 0 .5rem;
  margin-right: .5rem;
  border-radius: 4px;
  font-family: "PT Sans",Helvetica,Arial,sans-serif;
  font-size: 90%;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.tag:before {
  content: "\f02b";
  font-family: FontAwesome;
  padding-right: .5em;
}
